<!DOCTYPE html>
<html>
  <head>
    <title>VaporWave ‒ Listen to free music and podcasts on VaporWave</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="icon" href="<%= image_url('favicon.png') %>">
    <script type="text/javascript">
      window.logo = "<%= image_url('logo1.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
